{% extends "admin/change_list.html" %}
{#{% extends "admin/index.html" %}#}
{% block object-tools %}
    {{ block.super }}
{#    <a class="button" href="/action/populate/">Populate</a>#}
    <form method="post" action="/action/generatedate/">
         {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="submit" name="autoGenerator" value="Auto Generate">
    </form>
    <form method="post" action="/action/exportdata/">
         {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="submit" name="exportData" value="Export data">
    </form>

{% endblock %}